<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.Hodor.Hodor_the_TRPG">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name"
                 android:allowBackup="false" android:name=".Delegate" android:largeHeap="true">
        <activity android:name=".View.TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".View.GameOverActivity"/>
        <activity android:name=".GameActivity"/>
        <activity android:name=".View.SavedGameActivity"/>
        <activity android:name=".View.PlayerChooseActivity"/>
        <activity android:name=".View.HouseChooseActivity"/>
    </application>
</manifest>
